.reglages {
    padding: 0 2rem;
    margin-top: 3rem;

    background-color: white;
    border-radius: 15px;
}

.reglages .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reglages .fields-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fields {
    text-align: center;
}

@media (min-width: 420px) {
    .fields {
        padding: 2rem;
    }
}

.fields button {
    margin-top: 2rem;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    padding: 0 1rem;
}

@media (min-width: 950px) {
    .field {
        flex-basis: 50%;
    }
}
