.reglages {
    padding: 0 2rem;
    margin-top: 3rem;

    background-color: white;
    border-radius: 15px;
}

.reglages .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fields {
    padding: 2rem;
    text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
