.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem;
}

.auth-card {
    background-color: white;
    
    border-radius: 20px;
    padding: 4rem 4rem;
}

.auth .field p {
    width: 100%;
}

